 
*{
    
    margin: 0;
    box-sizing: border-box;
    padding: 0;
   
    font-family: poppins;
  }

  a {
    color: inherit; /* or choose a specific color */
    text-decoration: none; /* Optional: removes underline */
  }
  
  a:visited {
    color: inherit; /* or set the desired color for visited links */
  }
  

  html {
    scroll-behavior: smooth;
  }
  

  .center{
    margin: 0 auto;
  }

  h1{
    font-weight: 300;
    text-align: center;
    margin-bottom: 50px;
  }

  h2{
    font-weight: 300;
  }

  .crimson{
    color: crimson;
  }

  .center {
    margin: 0 auto;
  }

/*  .animate {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  }
 
  .animate.visible {
    opacity: 1;
    transform: translateY(0);
  } */