 
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
 
 
  }
  .Underline{
    
    text-decoration:underline
  }
 
  .Crimson{
    color: crimson
}

.White{
  color:white
}
.Flexbox{
  display:flex;
  flex-wrap: wrap;
}
  h1{
    font-family: Young Serif;
    font-weight:lighter
  }

  p, h2,h3{
    font-family: Sahitya
  }
  
 
  html {
    scroll-behavior: smooth;
  }
  
.Vertical{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Center{
  text-align: center;
}
 .Green{
  color:green
 }

 button{
  font-family: Roboto;
 }