.CoachContainer h3{
    margin:20px auto;
    font-family: Young Serif
}

.CoachContainer h2{
    margin:20px auto;
    font-family: Young Serif;
}

.CoachesContainer h2{
    margin:20px auto;
    font-family:  Sahitya;
    font-size: 20px;
}

.Coach:hover{
    cursor:pointer
}

.Coach{
    position:relative
}
.Profile{
    max-width:250px;
    position: absolute;
    top:0;
    padding: 10px 10px;
  
     
}

.Name{
    text-align: center;
}

 
 

.CoachNameAndBio{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.CoachContainer{
    margin-top: 50px;
    margin-bottom: 70px
}

.Coach h4{
    color: white;
    font-family:  Sahitya;
    font-weight: normal;
    font-size: 25px;
    font-style: italic;
}

.Coach img{
    border-radius: 10px;
    width: 250px; /* Set your desired width */
    height: 350px; /* Set your desired height */
    object-fit: cover; /* Ensures the image maintains its aspect ratio and fills the area */
    display: block;
    margin: 30px auto;
    border: 2px inset white;
    box-shadow: 10px 10px 10px black;
    filter: brightness(50%);
}

@media(min-width:800px){
 

    .Coach img{
        width: 300px; /* Set your desired width */
        height: 400px; /* Set your desired height */
        border-radius: 10px;
        border:2px solid rgb(255, 255, 255);
    }

    .Profile{
        max-width:300px;
 
         
    }
}