.ContactContainer{
    background-color: black;
    color:white;
    padding-bottom: 50px;
}

.ContactContainer h1{
    text-align: center;
    padding: 50px 0;
}
.ContactInfo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}

.ContactInfo img{
    height:250px
}

.ContactInfo iframe {
    width:250px;
    height:250px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.265);
 
}

.Phone, .Email, .Address {
  
    margin-bottom: 20px;
}

 @media(min-width:800px)
{.ContactInfo{
    display: flex;
    justify-content: space-around;
    
}}