.kids-form-outer-container {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 30;
  }
  
  .kids-form-container {
    position: absolute;
    border: 2px solid black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90vh;
    width: 90vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: white;
    z-index: 40;
    border-radius: 20px;
    overflow: scroll;
  }
  
  .kids-form-title {
    margin-bottom: 20px;
    font-size: 20px;
  
  }
  
.kids-form{
    display: flex;
justify-content: center;
align-items: center;
height: 150px
}


  .kids-form-group {
    width: 100%;
  }
  
  .kids-form-input {
    height: 40px;
    width: 90%;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .kids-form-add-button,
  .kids-form-submit-button {
    margin-top: 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .kids-form-add-button:hover,
  .kids-form-submit-button:hover {
    background-color: #333;
  }
  
  .kids-form-remove-button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
height:30%;
    cursor: pointer;
 
  }
  
.kids-form-buttons{
    display: flex;
 justify-content: center;
}

.kids-form-buttons >*{
    margin-right:10px
}

.kids-form-dob{
    display: flex;
    font-size: 12px;
    align-items: center;
 
}

.kids-form-dob input{
   width: 58%
}
 
.parent-email-container{
margin-top:30px
}



.kids-form-dob p{
    width: 30%;
    font-size: 12px;
    margin-right:5px;
 }

 .kids-form-input[type="date"] {
    appearance: none; /* Removes the calendar icon */
    -webkit-appearance: none; /* Removes the calendar icon in WebKit browsers */
    -moz-appearance: textfield; /* Ensures consistency in Firefox */
  }
  
 

  .kids-form-remove-button:hover {
    background-color: darkred;
  }
  
  .kids-form-close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
  }
  

  .pic {
    height: 150px
  }