 
.landing-container{
    height:fit-content;
 
      overflow: hidden;
     background-image: url("../Media/Maple\ Jiujitsu-19.jpg");
    height:80vh;
    width:100vw;
    background-size:cover;
    background-repeat: no-repeat;
     display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-attachment: fixed;
    background-position: center 180px;
    background-repeat: no-repeat;
    background-size: cover;    
    animation: slowPan 50s ease infinite;
    position: relative; /* Needed for ::before */
}



@keyframes slowPan {
    0% {
      background-position: right center;
    }
    50% {
      background-position: left center;
    }
    100% {
      background-position: right center;
    }
  }
.landing-container::before{
    position: absolute;
content: "";
height:80vh;
width:100vw;
background-color: rgba(0, 0, 0, 0.301);
z-index: 4;
 
}

.image-container{
    width:100%;
    position:relative;
    top:-15px
  
} 
   
    

.leaf{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; /* Ensure it's above the other image */
    max-width:70%;
 
}

 .max{
    height:80vh;
    object-position: right;
   padding:0;
 
 
   width: 100vw;
   object-fit: cover;
   object-position: 50% 90%; 
 
 
}


.before {
    content: "";
 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 98%;
    overflow: hidden;
    background-color: rgba(48, 50, 46, 0.436); /* Semi-transparent overlay */
    pointer-events: none; /* Allows clicks to pass through */
 
}

.get-started-landing-container{
 
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 20; /* above navbar background, below menu */
 
}



.get-started-landing-container >*{
   margin-bottom:10px
       
       
    }
    



 
.landing-container h1{
    position: absolute;
    text-align: center;
    color:rgb(255, 255, 255);
    top: 75%;
    font-weight:300;
    margin:0 auto;
    width:100%
}


.landing-container h2{
    font-family: roboto condensed;
    position: absolute;
    text-align: center;
    color:rgb(255, 255, 255);
    top: 75%;
    font-weight:500;
    margin:0 auto;
    width:100%;
    font-size: 30px;
 
}
