.LoginContainer {
    background-color: lightgrey;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.LoginContainer h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.LoginContainer .login-options button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.LoginContainer .login-google {
    background-color: #db4437;
    color: white;
}

.LoginContainer .login-facebook {
    background-color: #4267B2;
    color: white;
}

.LoginContainer .login-email {
    background-color: #333;
    color: white;
}

.LoginContainer .divider-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}

.LoginContainer .divider {
    flex-grow: 1;
    height: 1px;
    background-color: #ccc;
}

.LoginContainer .or-text {
    margin: 0 10px;
    color: #666;
    font-size: 14px;
}
