/* Simple version: background-attachment: fixed */
.parallax-container {
  height: 80vh;
  position: relative;
  display: grid;
  place-items: center;
  text-align: center;

  /* The entire parallax trick here: */
  background: url('../Media/22784.jpg') top right / cover no-repeat;
}

 

 