/* Parallax effect */
.parallax {
    height: 500px; /* Adjust the height as needed */
    background-image: url('../Media/gracie.webp'); /* Replace with your image */
    background-attachment: fixed; /* Creates the parallax scrolling effect */
    background-position:top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  